* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #04118a;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    color: black;
    background-image: url("../images/portfolio.jpg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    color: whitesmoke;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Hover Effect */
header nav ul li a:hover {
    background: #6f7070;
    border-radius: 15px;
    text-shadow: none;
}

footer {
    background: #6f7070;
    width: 100%;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: whitesmoke;
    font-size: 30px;
    margin: 0;
}

section {
    padding: 5px;
}

.hero {
    background-image: url("../images/portfolio.jpg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 70px
}

.pic {
    display: flex;
}

.pic img {
    width: 60%;
    height: 60%;
    border-radius: 40%;
    border: 1px solid #6f7070;
}

.hero h2 {
    color: whitesmoke;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    justify-content: flex-end;
    display: flex;
    position: absolute;
}

.me {
    padding: 30px;
}

.section-title {
    font-size: 36px;
    text-align: center;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    margin: 0 auto 35px auto;
    width: 40%;
    font-weight: bold;
}

.me-info p {
    padding: 10px;
    font-size: 20px;
}